In [1]:
print('Hello world !')

Hello world !

$$e^x=\sum_{i=0}^\infty \frac{1}{i!}x^i$$

In [8]:
compteCourant = 500
compteEpargne = 1000

# ajouter 100 à notre épargne (Yeah!)
compteEpargne = compteEpargne + 100

# enlever 50 de notre compte courant (Snif)
compteCourant = compteCourant - 50

# calculer le nombre de jours à économiser pour atteindre 5000€
nombreJoursEconomiser = (5000 - compteCourant) / 500

# mettre à jour notre compte courant (encore) après les gains/pertes journaliers
compteCourant = compteCourant + (30 - 10) * 7
compteCourant

590

In [7]:
a = 7.5
b = 3
c = a/b
c
# cela va afficher 2.5, ce qui est bien un float

2.5

In [9]:
ville = "Sydney"
nombreVoyages = 5
histoire = "J'ai déjà été à " + ville + " " + str(nombreVoyages) + " fois"
print(histoire) # => "J'ai déjà été à Syndey 5 fois"

J'ai déjà été à Sydney 5 fois

In [10]:
def factorial(n):
    if n == 0: return 1
    else: return n * factorial(n - 1)

factorial(5)

120

In [11]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [16]:
a = 'Hello world'
a.lower()
(a + ' ' + a).upper()
a.capitalize()
a.replace('world', 'monde')

'Hello monde'

In [20]:
tab = ['truc', 1, 3.14, 2, 'machin']
print(tab)

['truc', 1, 3.14, 2, 'machin']

In [21]:
tab[1]

1

In [22]:
tab[-2]

2

In [23]:
tab[2:-1]

[3.14, 2]

In [24]:
tab[2:]

[3.14, 2, 'machin']

In [25]:
nom = input('T qui ?')

T qui ?Franck

In [26]:
print(nom)

Franck

In [27]:
a = []

In [28]:
a[0] = 2

IndexError: list assignment index out of range

In [29]:
'b' in {'a' : 1, 'b':2}

True

In [30]:
import geometry as g

ModuleNotFoundError: No module named 'geometry'

In [31]:
import random as r
for i in range(3) : print(r.random())

0.45681101950510894
0.3279983924842419
0.3899976530490461

In [32]:
for i in range(3) : print(r.uniform(3.14, 5.12))

4.140887555710173
3.566558954830584
3.342084601703452

In [33]:
for i in range(3) : print(r.randint(11,17))

14
12
12

In [36]:
for i in range(3) : print(r.gauss(50,100))

120.15381484912136
208.55820568237985
139.3946077352454

In [45]:
l = [1, 2, 3, 4, 5]
print(r.sample(l, 3))

[3, 4, 5]

In [47]:
for i in range(3) : print(r.uniform(1, 2))

1.309131056496703
1.25464898207168
1.6993646767874289

In [78]:
def play(capital, proba) :
    if r.random() < proba : return 'P', capital + 1
    else : return 'F', capital - 1

# Jeu A
"""
capital = 1000
for i in range(10000) :
    face, capital = play(capital, 0.49)
    print(i, '\t', face, '\t', capital, '€')
"""
    
# Jeu B
"""
capital = 1000
for i in range(10000) :
    if capital % 3 == 0 : face, capital = play(capital, 0.09)
    else : face, capital = play(capital, 0.74)
    print(i, '\t', face, '\t', capital, '€')
"""
capital = 1000
for i in range(1000000) :
    if r.randint(0, 1) == 0 :
        face, capital = play(capital, 0.49)
        #print(i, '\tA\t', face, '\t', capital, '€')
    else :
        if capital % 3 == 0 : face, capital = play(capital, 0.09)
        else : face, capital = play(capital, 0.74)
        #print(i, '\tB\t', face, '\t', capital, '€')
print('capital : ', capital, '€')

capital :  6748 €